.container {
    max-width: 600px;
    margin: 0 auto;
}

.swiper .swiper-wrapper {
    transition-timing-function: linear;
}

.swiper .swiper-slide {
    height: 500px !important;
    width: auto !important;
}

.description {
    margin-bottom: 30px;
    /* inline-size: 300px; */
    overflow-wrap: break-word;
}