.container {
    max-width: 600px;
    margin: 0 auto;
}

.swiper .swiper-wrapper {
    transition-timing-function: linear;
}

.swiper .swiper-slide {
    height: 320px !important;
    width: auto !important;
}