@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: 'Yu Gothic';
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10%;
}

/* ヘッダー */
.header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    list-style: none;
}

.nav li {
    margin-left: 10px;
}

/* メインのイメージ */
#big-img {
    width: 100%;
}

/* About */
.profile {
    display: flex;
}

#profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 40px;
}

.title-about,
.title-bicycle {
    text-align: center;
    margin: 5% auto;
}

.under-line {
    border-bottom: 1px solid #383E45;
    padding-bottom: 4px;
}

/* Bicycle */

ul li {
    list-style: none;
}

ul li img {
    width: 100%;
}

.bicycle {
    margin-bottom: 7%;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 10px;
}

.footer {
    text-align: center;
}