* {
    margin: 0;
    padding: 0;
}

.parent {
    background-color: rgb(223, 28, 122);
    width: 100vw;
    height: 100vh;
}

.child {
    border: 1px solid #111;
    background-color: rgb(232, 127, 204);
    width: 80%;
    height: 80%;
    padding: 20px;
    margin: 30px;
}