/* カスタムプロパティ */
:root {
    --btn-bg-color: white;
    --btn-click-bg-color: black;
}

.container {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.btn {
    width: 300px;
    background-color: var(--btn-bg-color);
    padding: 10px 20px;
    border: 3px solid;
    border-radius: 10px;
}

.btn:hover {
    background-color: var(--btn-click-bg-color);
    color: white;
}